<h1>Lista de Restaurantes</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
