<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :rating, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
